*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background-color: rgb(4, 34, 23);
}
.heading
{
    width: 12rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(27, 150, 109);
    cursor: pointer;
    border-radius: 4px;
}
.card-container
{
    width: 30rem;
    height: fit-content;
    background-color: rgb(27, 150, 109);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 4px;
}
.title
{
    display: flex;
}
.title p
{
    flex: 1;
}
.title img
{
    width: 20px;
    cursor: pointer;
}
.hide-description
{
    display: none;
}